---
---

@import "{{ site.theme }}";

.page-header {
  color: none;
  background-color: none;
  background-image: url("https://github.com/FuChinvin/kytsyunya/raw/main/images/k1.png"); }
body {background-color:#cad6ec}
.main-content {
  @include large {
    max-width: 80rem; }}
