---
---

@import "{{ site.theme }}";

.page-header {
  color: none;
  background-color: none;
  background-image: url("https://github.com/FuChinvin/kytsyunya/raw/main/images/k1.png"); }
body {background-color:#cad6ec}
.main-content {
  @include large {
    max-width: 80rem; }}
.btn2 {
  display: inline-block;
  margin-bottom: 0;
  transition: background-color 0.2s;
  @include large {
    padding: 0;
  }
  @include medium {
    padding: 0;
    font-size: 0.9rem;
  }
  @include small {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 0.9rem;
  }
}
.column {
  float: left;
  width: 50%;
}
h3 {font-weight: bold; font-size: 32px; font-color: #000; padding:0; margin:0}
h4 {font-weight: normal; font-size: 19px; font-color: #000; padding:0; margin:0}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img.animated-gif{
  width: 400px;
  height: auto; margin:5px 5px 5px 5px; border-style: solid; border-width: 1px; border-color: #000;
}

mark {color: green!important; background-color: none;background: none;}

.btn {
  
  color: rgba(20, 85, 120, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(124, 141, 145, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(20, 85, 120, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(124, 141, 145, 0.3);
  }
}
