<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
  <!--
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header> -->

    <main id="content" class="main-content" role="main">
      <a href="https://fuchinvin.github.io/kytsyunya/" class="btn2"><img src="https://github.com/FuChinvin/kytsyunya/raw/main/images/a1.png" alt="Kytsyunya"/></a>
      
      <div class="row">
      <div class="column">
      <h3 style="color:red">Meow!</h3>
      <h4 style="color:red">The Kytsyunya Cats are a collection of 2000 rare NFTs. Сhoose the best cat and join the ranks of our brotherhood. May the cat be with you!</h4>
      <a href="https://opensea.io/collection/kytsyunya/" class="btn">OpenSea</a>
      <a href="https://twitter.com/strongdmytro" class="btn">Twitter</a></br>
      <span>&#10003; Unique content</span></br>
      <span>&#10003; Club membership</span></br>
      <span>&#10003; 3,000 Supply</span></br>
      </div>
      <div class="column">
      
      <img class="animated-gif" src="https://github.com/FuChinvin/kytsyunya/raw/main/images/q1.gif" alt="Kytsyunya" height="500px" />
        
      </div>
      </div>
      {{ content }}


    </main>
  </body>
</html>
